---
title: "About Page"
description: "The LESS branch of the advanced starter kit. Provides a LESS processor to provide extra tools and functionality when writing your CSS."
permalink: 'about/'
eleventyNavigation:
    key: 'About'
    order: '200'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/less.css">
    <link rel="stylesheet" href="/assets/css/less.css">
    <link rel="stylesheet" href="/assets/css/less.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <picture class="cs-picture">
            <img class="cs-icon" decoding="async" src="/assets/images/Logo_Gold.svg" alt="divider" width="181" height="36" aria-hidden="true">
        </picture>
        <span class="cs-int-title">About Biscotti Streetwear</span>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/graffiti_Backdrop2.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/graffiti_Backdrop2.jpg">
        <img decoding="async" src="/assets/images/graffiti_Backdrop2.jpg" alt="breakfast" width="1920" height="1000">
    </picture>
</div>   

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/Skate_Ollie.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Skate_Ollie.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Skate_Ollie.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/Skate_KF.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Skate_KF.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Skate_KF.jpg" alt="breakfast" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Biscotti Streetwear</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <div class="cs-quote">
                <span class="cs-quote-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                </span>
                <span class="cs-name">JC</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
          
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-1014">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title"></h2>
            <a href="" class="cs-button-solid">Request Appointment</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Tag Line</span>
            <p class="cs-p"> 
                Something something something<br>
                {# something something something #}
            </p>
            <p class="cs-p">
                Something something something<br>
                {# Saturdays by Appointment Only. #}
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/Footer_Backdrop.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Footer_Backdrop.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Footer_Backdrop.jpg" alt="breakfast" width="275" height="132">
        </picture>
    </div>
</section>

{% endblock %} 