---
title: "The Main Branch"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: '/'
eleventyNavigation:
    key: 'Main'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1621">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Biscotti Streetwear</span>
                <h1 class="cs-title">
                    Versatile fashion for even the most diverse tastes
                </h1>
                <a href="" class="cs-button-solid">Shop Now</a>
                <!--Bottom Corners-->
                <div class="cs-corners" aria-hidden="true"></div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/hoodie.svg" alt="icon" width="48" height="48">
                    <h2 class="cs-h3">Hoodies</h2>
                    <p class="cs-item-text">
                        Stylish and warm, your girl will steal it.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/sweats.svg" alt="icon" width="48" height="48">
                    <h2 class="cs-h3">Sweats</h2>
                    <p class="cs-item-text">
                        Look your best without giving up on comfort.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/shorts.svg" alt="icon" width="48" height="48">
                    <h2 class="cs-h3">Shorts</h2>
                    <p class="cs-item-text">
                        Feel the breeze on your knees, and look good doing it
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/beanie.svg" alt="icon" width="48" height="48">
                    <h2 class="cs-h3">Hats</h2>
                    <p class="cs-item-text">
                        You can never have too many hats, right?
                    </p>
                </li>
            </ul>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)"
            srcset="/assets/images/96DD1FCC-18AF-45D2-9B9B-2501B4957C7D.jpg">
            <source media="(min-width: 601px)"
            srcset="/assets/images/96DD1FCC-18AF-45D2-9B9B-2501B4957C7D.jpg">
            <img loading="lazy" decoding="async"
            src="/assets/images/96DD1FCC-18AF-45D2-9B9B-2501B4957C7D.jpg" alt="meeting" width="1920"
            height="1200" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-523">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Who We Are</span>
                <h2 class="cs-title">What Sets our Clothing Apart</h2>
                <p class="cs-text">
                    Our clothing constitutes careful selection of fabrics and designs, ensuring each piece is crafted to the highest quality standards. Every item is thoughtfully curated to offer style, comfort, and durability.
                </p>
                <p class="cs-text">
                    Each piece is designed and produced locally, ensuring high quality while also promoting sustainable and ethical practices within our community.
                </p>
                <p class="cs-text">
                    With our unmatched dedication to excellence and meticulous attention to detail. We stand by the superior quality of our clothing, confident that each piece will exceed your expectations in both style and durability.                </p>
                <a href="" class="cs-button-solid">Read More</a>
            </div>
            <div class="cs-image-group">
                <!--Large Image-->
                <picture class="cs-picture cs-picture-large">
                    <source media="(max-width: 600px)" srcset="/assets/images/model_1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/model_1.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/model_1.jpg" alt="lab" width="334" height="380">
                </picture>
                <!--Small Image-->
                <picture class="cs-picture cs-picture-small">
                    <source media="(max-width: 600px)" srcset="/assets/images/model_2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/model_2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/model_2.jpg" alt="lab" width="183" height="158">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

   
    <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->

    <section id="why-choose-1657">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Support Local Small Business</span>
                    <h2 class="cs-title">All the hottest styles: made right, made local</h2>
                    <br>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-number">Style</span>
                        <p class="cs-li-text">
                            All our designs are original and developed in house by us
                        </p>
                    </li>
                    <li class="cs-li">
                        <span class="cs-number">Comfort</span>
                        <p class="cs-li-text">
                            We use only the highest quality fabrics and materials to ensure all day comfort
                        </p>
                    </li>
                    <li class="cs-li">
                        <span class="cs-number">Durability</span>
                        <p class="cs-li-text">
                            We use modern techniques to achieve unmatched durability
                        </p>
                    </li>
                </ul>
            </div>
            <div class="cs-wrapper">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/Street_Shot.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/Street_Shot.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Street_Shot.jpg" alt="meeting" width="630" height="414">
                </picture>

                <p class="cs-review">
                    <svg class="cs-quote" preserveAspectRatio="none" viewBox="0 0 100 93" fill="none" xmlns="http://www.w3.org/2000/svg" preser>
                        <g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)"><path d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"/></g>
                        <defs>
                            <clipPath id="a-1657"><path fill="#fff" transform="translate(0 .854)" d="M0 0h100v83.146H0z"/></clipPath>
                        </defs>
                    </svg>
                    To minimise the number of merge conflicts, vanilla CSS for these introductory pages are supplied in /assets. Should you wish to carry over the starting kit styles, LESS and SASS versions are supplied outside of ./src
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-1309">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-desc">Find the streetwear of tomorrow, today</span>
                </div>
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/model_3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/model_3.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/model_3.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Help & Support</span>
                <h2 class="cs-title">Guidance every step of the way</h2>
                <p class="cs-text">Outside of a cool new feature, each branch comes with an introductory landing page (just like this one) and a branch-specific README. The landing page gives you a quick overview of the branch, with the README providing more technical details should you wish to expand.</p>
                <p class="cs-text">Additionally, all project-critical actions that need to be taken have a comment containing "CS-TODO". After merging in your branches, you can search the codebase for "CS-TODO", find the most important changes that need to be made, and action them effortlessly.</p>
                <p class="cs-text">Finally, if you are still stuck or find a bug in the kit, you can use the CTAs in the header to get directly in touch with the kit creators, or reach out to a community of hundreds of other developers.</p>
                <p class="cs-text">The kit continues to be supported going forward, with a complete set of tutorial videos and additional feature branches planned in the very near future. Follow our subreddit to stay up to date!</p>
                <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            </div>
        </div>
    </section>

{% endblock %}